<ion-header>
    <ion-navbar>
        <ion-title>{{vehicleData.Device_Name}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="showNotif()">
                <ion-icon name="notifications"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-row style="background-color: #ccc; padding-top: 8px; padding-left:12px; padding-right:12px;">
        <ion-col col-6 style="text-align: left;">
            <p style="padding: 0px; margin: 0px;">
                <b>IMEI</b> :</p>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
            <p style="padding: 0px; margin: 0px;">
                <b>SIM No.</b>:</p>
        </ion-col>
    </ion-row>
    <ion-row style="background-color: #ccc; padding-bottom: 8px;padding-left:12px; padding-right:12px;">
        <ion-col col-6 style="text-align: left;">
            <p style="padding: 0px; margin: 0px;">
                {{vehicleData.Device_ID}}</p>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
            <p style="padding: 0px; margin: 0px;">
               {{vehicleData.sim_number}}</p>
        </ion-col>
    </ion-row>
    <ion-item no-lines class="itemStyle" style="background:#696D74;">
        <ion-row>
            <div class="colSt3">
                <ion-icon name="pin"></ion-icon>
            </div>
            <ion-col class="colSt2">
                <div class="overme">
                    {{vehicleData.address}}
                </div>
            </ion-col>
            <ion-col class="colSt1">
                <p style="color:#fff;font-size: 12px;font-weight: 400;margin-top: 6px;">Today's distance</p>
                <p style="color:#fff;font-size: 12px;font-weight: 400;margin-top: 6px;">{{vehicleData.today_odo | number : '1.0-2'}}Kms</p>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-row style="border-bottom: 1px solid #ccc;">
        <ion-col width-50 style="padding-left: 30px; padding-top:8px; padding-bottom: 8px; border-right: 1px solid #ccc;">
            <div id="qr" style="display:inline-block; min-width:0.6cm; height:0.6cm; vertical-align: middle;">
                <img src="assets/imgs/statusIcons/ign_green.png" style="height:0.6cm;">
            </div>
            <div style="display:inline-block;vertical-align: middle;padding-left: 10px;">
                <p style="padding: 0px; margin: 0px;">IGN ON</p>
                <p style="padding: 0px; margin: 0px; color: gray">
                    {{today_run}} min
                </p>
            </div>
        </ion-col>

        <ion-col width-50 style="padding-left: 30px;padding-top:8px; padding-bottom: 8px;">
            <div id="qr" style="display:inline-block; min-width:0.6cm; height:0.6cm; vertical-align: middle;">
                <img src="assets/imgs/statusIcons/ign_red.png" style="height:0.6cm;">
            </div>
            <div style="display:inline-block;vertical-align: middle;padding-left: 10px;">
                <p style="padding: 0px; margin: 0px;">IGN OFF</p>
                <p style="padding: 0px; margin: 0px; color: gray">
                    {{today_stop}} min
                </p>
            </div>
        </ion-col>
    </ion-row>
    <ion-row style="border-bottom: 1px solid gray;">
        <ion-col width-50 style="padding-left: 30px;padding-top:8px; padding-bottom: 8px; border-right: 1px solid #ccc;">
            <div id="qr" style="display:inline-block; min-width:0.6cm; height:0.6cm; vertical-align: middle;">
                <img src="assets/imgs/statusIcons/wheel.png" style="height:0.6cm;">
            </div>
            <div style="display:inline-block;vertical-align: middle;padding-left: 10px;">
                <p style="padding: 0px; margin: 0px;">Last Drive</p>
                <p style="padding: 0px; margin: 0px; color: gray">
                    {{lastStoppedAt}} min
                </p>
            </div>
        </ion-col>

        <ion-col width-50 style="padding-left: 30px;padding-top:8px; padding-bottom: 8px;">
            <div id="qr" style="display:inline-block; min-width:0.6cm; height:0.6cm; vertical-align: middle;">
                <img src="assets/imgs/statusIcons/img_466583.png" style="height:0.6cm;">
            </div>
            <div style="display:inline-block;vertical-align: middle;padding-left: 10px;">
                <p style="padding: 0px; margin: 0px;">Total Km</p>
                <p style="padding: 0px; margin: 0px; color: gray">
                    {{vehicleData.total_odo | number : '1.0-2'}} Km
                </p>
            </div>
        </ion-col>
    </ion-row>

    <div style="height: 250px; width: 250px; margin:auto;" padding-top padding-bottom>
        <canvas #doughnutCanvas width="150" height="150"></canvas>
    </div>
    <hr>
    <div padding-top style="height: 85px; width: 250px; margin: auto;">
        <canvas #barCanvas width="150" height="80"></canvas>
    </div>
</ion-content>

<ion-footer class="footSty">
    <ion-row style="background-color: #ccc;">
        <ion-col col-6 (tap)="showHistory()" style="margin: auto; text-align: center; border-right: 1px solid black;">
            <div id="qr" style="display:inline-block; min-width:0.6cm; height:0.6cm; vertical-align: middle;">
                <img src="assets/imgs/search_history_icon_1056946.png" style="height:0.6cm;">
            </div>
            <div style="display:inline-block;vertical-align: middle; font-size: 1.2em;">
                History
            </div>
        </ion-col>
        <ion-col col-6 (tap)="showLive()" style="margin: auto; text-align: center;">
            <div id="qr" style="display:inline-block; min-width:0.6cm; height:0.6cm; vertical-align: middle;">
                <img src="assets/imgs/liveiconBW.png" style="height:0.6cm;">
            </div>
            <div style="display:inline-block;vertical-align: middle; font-size: 1.2em;">
                Live
            </div>
        </ion-col>
    </ion-row>
    <ion-row style="padding: 8px;">
        <ion-col col-4 (tap)="showDaily()" style="text-align:center;padding: 8px; margin:0px; color: white; border-right: 1px solid white; font-size:1.2em;">
            <ion-icon name="paper"></ion-icon>&nbsp;&nbsp;Daily
        </ion-col>
        <ion-col col-4 (tap)="showStoppage()" style="text-align:center;padding: 8px; margin:0px; color: white;border-right: 1px solid white; font-size:1.2em;">
            <ion-icon name="paper"></ion-icon>&nbsp;&nbsp;Stoppage
        </ion-col>
        <ion-col col-4 (tap)="showTrip()" style="text-align:center;padding: 8px; margin:0px; color: white; font-size:1.2em;">
            <ion-icon name="paper"></ion-icon>&nbsp;&nbsp;Trip
        </ion-col>
    </ion-row>
</ion-footer>