
.ios, .md {
 
    page-dashboard {

        #cart-btn {
            position: relative;
            top:5px;
         }
         
         #cart-badge {
            position: absolute;
            top: -5px;
            right: 0px;
         }
        .card-content-md {
            padding: 8px 8px;
        }
 
        .scroll-content {
            background-color: map-get($colors, light);
        }
 
        ion-card-header {
            font-weight: bold;
        }

        .iconS {
            font-size: 4em;
        }

        .divS{
            text-align: center;
            padding: 10px;
            // -webkit-box-shadow: 0 0 10px rgb(33, 138, 120);
            // box-shadow: 0 0 10px rgb(33, 138, 120);
            // border: 1px solid #f53d3d;
            border-radius: 5px;
        }

        .custCard{
            // border: 1px solid #f53d3d;
            // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(59, 70, 61);
            // -webkit-box-shadow: 0 0 10px rgb(33, 138, 120);
            border-radius: 5px;
        }

        .colStyl {
            // padding:5px !important;
            // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(59, 70, 61);
            border-radius: 5px;
            // border: 1px solid #f53d3d;
            // padding: 5px;
        }

        .cardSt{
            padding: 0px !important;
        }

        .col {
            padding: 0px !important;
        }

        #notification-button {            
            position: relative;
            width: 42px;
            top:1px;
            right: 1px;
            overflow: visible!important;
        }


        #notifications-badge {
            background-color: rgba(251, 255, 0, 0.719);
            position: absolute;
            top: -3px;
            right: -3px;
            border-radius: 100%;
        }
 
    }
 
}