<ion-header color="gpsc">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Daily Report</ion-title>
        <ion-buttons end>
            <ion-datetime class="dateStyle" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="to"
                (ionChange)="getDailyReportData()"></ion-datetime>
        </ion-buttons>
    </ion-navbar>
    <ion-item style="background-color: #fafafa;">
        <ion-label style="margin-top: 15px;">Select Vehicle</ion-label>
        <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
            itemTextField="Device_Name" [canSearch]="true" (onChange)="getSelectedId(selectedVehicle)">
        </select-searchable>
    </ion-item>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of deviceReport">
        <ion-item style="border-bottom: 2px solid #dedede;">
            <ion-avatar item-start>
                <img src="assets/imgs/car_img1.png">
            </ion-avatar>
            <p style="color:black; font-size:16px; padding-left: 4px;">{{item.Device_Name }}</p>
            <ion-row style="margin-top:6%;">

                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                        <span *ngIf="item.today_running">{{item.today_running}}</span>
                        <span *ngIf="!item.today_running">00.00</span>&nbsp;</p>
                    <p style="color:#53ab53;margin-left:0%;font-size:11px;font-weight: 350;">Running</p>
                </ion-col>
                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                        <span *ngIf="item.today_stopped">{{item.today_stopped}}</span>
                        <span *ngIf="!item.today_stopped">00.00</span>&nbsp;</p>
                    <p style="color:#5dd17f;text-align:left;font-size: 11px;color:red;font-weight:350;">Stop</p>
                </ion-col>
                <ion-col center text-center>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight: 400;">
                        <span *ngIf="item.today_trips">{{item.today_trips}}</span>
                        <span *ngIf="!item.today_trips">00.00</span>&nbsp;</p>
                    <p style="text-align:left;font-size: 11px;color:#11c1f3;font-weight:350;">Trips</p>
                </ion-col>
            </ion-row>
            <ion-row style="margin-top: 2%;">
                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight: 400;">
                        <span *ngIf="item.today_odo">{{item.today_odo | number : '1.0-2'}}</span>
                        <span *ngIf="!item.today_odo">00.00</span>&nbsp;</p>
                    <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 350;">Distance(Km)</p>
                </ion-col>
                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                        <span *ngIf="item.maxSpeed">{{item.maxSpeed}}&nbsp;Km/h</span>
                        <span *ngIf="!item.maxSpeed">00.00</span>&nbsp;</p>
                    <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 350;">Max Speed</p>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-item>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>